##  NVIDIA Company Current Stock Market Price Predictions

In [16]:
## import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
## import the dataset

In [18]:
dataset=pd.read_csv("NVIDIA Stock Price History.csv")
dataset.head()

        Date   Price    Open    High     Low     Vol. Change %
0   7/7/2025  158.24  158.20  159.31  157.34  140.14M   -0.69%
1   7/3/2025  159.34  158.37  160.98  157.77  143.72M    1.33%
2   7/2/2025  157.25  152.98  157.60  152.97  171.22M    2.58%
3   7/1/2025  153.30  156.29  157.20  151.49  213.14M   -2.97%
4  6/30/2025  157.99  158.40  158.66  155.96  194.58M    0.15%

In [19]:
# check the dataset type

In [20]:
dataset.shape

(5004, 7)

In [21]:
## check the information of the dataset

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5004 entries, 0 to 5003
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5004 non-null   object
 1   Price     5004 non-null   float64
 2   Open      5004 non-null   float64
 3   High      5004 non-null   float64
 4   Low       5004 non-null   float64
 5   Vol.      5004 non-null   object
 6   Change %  5004 non-null   object
dtypes: float64(4), object(3)
memory usage: 273.8+ KB

In [23]:
## check the null values of the dataset

In [24]:
dataset.isnull().sum()

Date        0
Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
dtype: int64

## Data Preprocessing

In [36]:
## convert the date column to  numerical format

In [37]:
dataset['date_numeric(MM/DD/YYYY)'] = dataset['Date'].str.replace('/', '').astype(int)
dataset['date_numeric(MM/DD/YYYY)'].head()

0     772025
1     732025
2     722025
3     712025
4    6302025
Name: date_numeric(MM/DD/YYYY), dtype: int32

In [28]:
dataset_corr=dataset.corr()
dataset_corr

ValueError: could not convert string to float: '7/7/2025'