##  NVIDIA Company Current Stock Market Price Predictions

In [16]:
## import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
## import the dataset

In [18]:
dataset=pd.read_csv("NVIDIA Stock Price History.csv")
dataset.head()

        Date   Price    Open    High     Low     Vol. Change %
0   7/7/2025  158.24  158.20  159.31  157.34  140.14M   -0.69%
1   7/3/2025  159.34  158.37  160.98  157.77  143.72M    1.33%
2   7/2/2025  157.25  152.98  157.60  152.97  171.22M    2.58%
3   7/1/2025  153.30  156.29  157.20  151.49  213.14M   -2.97%
4  6/30/2025  157.99  158.40  158.66  155.96  194.58M    0.15%

In [19]:
# check the dataset type

In [20]:
dataset.shape

(5004, 7)